<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 재설정 | ToastIT</title>
</head>
<body>

<h1>비밀번호 재설정</h1>

<div>
    <form action="/recovery/reset/password" method="post">
        <input type="hidden" name="email" th:value="${email}">
        <label for="newPassword">새 비밀번호:</label>
        <input type="password" id="newPassword" name="newPassword" required>
        <button type="submit">비밀번호 재설정</button>
    </form>
</div>

</body>
</html>