<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/fragment/navbar-fragment.css}" rel="stylesheet">
    <link th:href="@{/css/fragment/footer-fragment.css}" rel="stylesheet">
    <link th:href="@{/css/basecocktail/basecocktaildetail.css}" rel="stylesheet">

    <script th:src="@{/js/basecocktail/detail.js}" defer></script>
    <script th:src="@{/js/basecocktail/baseLike.js}" defer></script>

    <title th:text="${cocktail.isPresent() ? cocktail.get().strDrink : '칵테일 상세 정보'}">칵테일 상세 정보</title>
</head>
<body>
<div th:replace="~{fragment/navbar-fragment :: navbarFragment}"></div>

<hr class="divider">

<div th:if="${cocktail.isPresent()}" class="cocktail-details">

    <!-- 첫 번째 라운드 사각형: 사진, 제목, 종류, 카테고리, 잔 종류 -->
    <div class="round-rectangle">
        <div class="cocktail-info-container">
            <div class="cocktail-image-container">
                <img th:src="@{${cocktail.get().imagePath}}" th:alt="${cocktail.get().strDrink}" class="cocktail-detail-image">
            </div>
            <div class="cocktail-text-container">
                <h1 th:text="${cocktail.get().strDrink}">칵테일 이름</h1>
                <h1 class="base-cocktail-number" th:text="${cocktail.get().getId()}" style="display: none">칵테일 번호</h1>
                <p class="detail-info"><strong>종류:</strong> <span th:text="${cocktail.get().strAlcoholic}"></span></p>
                <p class="detail-info"><strong>카테고리:</strong> <span th:text="${cocktail.get().strCategory}"></span></p>
                <p class="detail-info"><strong>잔 종류:</strong> <span th:text="${cocktail.get().strGlass}"></span></p>
            </div>
        </div>
    </div>

    <!-- 두 번째 라운드 사각형: 재료 -->
    <div class="round-rectangle">
        <h2>재료</h2>
        <ul class="ingredientEntity-list">
            <li th:if="${cocktail.get().strIngredient1 != null and !cocktail.get().strIngredient1.isEmpty()}"
                th:text="${cocktail.get().strIngredient1 + (cocktail.get().strMeasure1 != null and !cocktail.get().strMeasure1.isEmpty() ? ' - ' + cocktail.get().strMeasure1 : '')}"></li>
            <li th:if="${cocktail.get().strIngredient2 != null and !cocktail.get().strIngredient2.isEmpty()}"
                th:text="${cocktail.get().strIngredient2 + (cocktail.get().strMeasure2 != null and !cocktail.get().strMeasure2.isEmpty() ? ' - ' + cocktail.get().strMeasure2 : '')}"></li>
            <li th:if="${cocktail.get().strIngredient3 != null and !cocktail.get().strIngredient3.isEmpty()}"
                th:text="${cocktail.get().strIngredient3 + (cocktail.get().strMeasure3 != null and !cocktail.get().strMeasure3.isEmpty() ? ' - ' + cocktail.get().strMeasure3 : '')}"></li>
            <li th:if="${cocktail.get().strIngredient4 != null and !cocktail.get().strIngredient4.isEmpty()}"
                th:text="${cocktail.get().strIngredient4 + (cocktail.get().strMeasure4 != null and !cocktail.get().strMeasure4.isEmpty() ? ' - ' + cocktail.get().strMeasure4 : '')}"></li>
            <li th:if="${cocktail.get().strIngredient5 != null and !cocktail.get().strIngredient5.isEmpty()}"
                th:text="${cocktail.get().strIngredient5 + (cocktail.get().strMeasure5 != null and !cocktail.get().strMeasure5.isEmpty() ? ' - ' + cocktail.get().strMeasure5 : '')}"></li>
            <li th:if="${cocktail.get().strIngredient6 != null and !cocktail.get().strIngredient6.isEmpty()}"
                th:text="${cocktail.get().strIngredient6 + (cocktail.get().strMeasure6 != null and !cocktail.get().strMeasure6.isEmpty() ? ' - ' + cocktail.get().strMeasure6 : '')}"></li>
            <li th:if="${cocktail.get().strIngredient7 != null and !cocktail.get().strIngredient7.isEmpty()}"
                th:text="${cocktail.get().strIngredient7 + (cocktail.get().strMeasure7 != null and !cocktail.get().strMeasure7.isEmpty() ? ' - ' + cocktail.get().strMeasure7 : '')}"></li>
            <li th:if="${cocktail.get().strIngredient8 != null and !cocktail.get().strIngredient8.isEmpty()}"
                th:text="${cocktail.get().strIngredient8 + (cocktail.get().strMeasure8 != null and !cocktail.get().strMeasure8.isEmpty() ? ' - ' + cocktail.get().strMeasure8 : '')}"></li>
            <li th:if="${cocktail.get().strIngredient9 != null and !cocktail.get().strIngredient9.isEmpty()}"
                th:text="${cocktail.get().strIngredient9 + (cocktail.get().strMeasure9 != null and !cocktail.get().strMeasure9.isEmpty() ? ' - ' + cocktail.get().strMeasure9 : '')}"></li>
            <li th:if="${cocktail.get().strIngredient10 != null and !cocktail.get().strIngredient10.isEmpty()}"
                th:text="${cocktail.get().strIngredient10 + (cocktail.get().strMeasure10 != null and !cocktail.get().strMeasure10.isEmpty() ? ' - ' + cocktail.get().strMeasure10 : '')}"></li>
            <li th:if="${cocktail.get().strIngredient11 != null and !cocktail.get().strIngredient11.isEmpty()}"
                th:text="${cocktail.get().strIngredient11 + (cocktail.get().strMeasure11 != null and !cocktail.get().strMeasure11.isEmpty() ? ' - ' + cocktail.get().strMeasure11 : '')}"></li>
        </ul>
    </div>

    <!-- 세 번째 라운드 사각형: 제조 방법 -->
    <div class="round-rectangle">
        <h2>제조 방법</h2>
        <p th:text="${cocktail.get().strInstructions}"></p>
    </div>

    <p><strong>좋아요 수:</strong> <span th:text="${likeCount}">0</span></p>

    <button class="like-button" id="likeButton"
            th:text="${isLiked ? '좋아요 취소' : '좋아요'}" onClick="likeCocktail()"></button>
</div>

<div th:unless="${cocktail.isPresent()}">
    <p>죄송합니다. 요청하신 칵테일을 찾을 수 없습니다.</p>
</div>

<div class="back-button-container">
    <a href="/cocktails/all" class="back-button" id="backToList">목록으로 돌아가기</a>
    <a id="backToSearchResult" style="display: none;" class="back-button">검색 결과로 돌아가기</a>
</div>

</body>

<div th:replace="fragment/footer :: footer"></div>

</html>