body {
    font-family: 'Gmarket Sans', sans-serif;
    margin: 0;
    padding: 0;
    max-width: 1800px;
    padding-top: 94px; /* 헤더의 높이만큼 상단 여백 추가 */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    max-height: 94px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* 헤더가 다른 요소들 위에 위치하도록 설정 */
    border-bottom: 2px solid #FFA832; /* 주황색 선 추가 */
}

.logo {
    width: 50px;
    height: 50px;
    margin: 0 20px 0 0;
    border-radius: 10%; /* 모서리 둥글게 */
}

nav {
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
    flex-grow: 1; /* 남은 공간을 차지하도록 설정 */
    justify-content: flex-start; /* 왼쪽 정렬 */
}

.menu a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    transition: color 0.3s;
    margin-right: 20px; /* 링크 간의 간격 추가 */
}

.menu a:hover {
    color: #FFA832; /* hover 색상 */
}

#loginLink, #joinLink {
    text-decoration: none;
    color: #FFA832;
    font-weight: bold;
    transition: color 0.3s;
    margin-right: 20px; /* 링크 간의 간격 추가 */
}
#logoutLink, #myPageLink {
    text-decoration: none;
    color: #FFA832;
    font-weight: bold;
    transition: color 0.3s;
    margin-right: 20px; /* 링크 간의 간격 추가 */
}
#logoLink {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 50px;
}

#loginLink:hover, #joinLink:hover {
    color: #000000; /* hover 색상 */
}
#logoutLink:hover, #myPageLink:hover {
    color: #000000; /* hover 색상 */
}

.divider {
    width: 100%;
    border: 1px solid #FFA832; /* 회색 선 */
    margin: 0 0; /* 상하 여백 */
}

.menu {
    display: flex; /* 메뉴 항목들을 가로로 나열 */
    flex-grow: 1;
    max-width: 1350px;
}
.profile {
    display: flex; /* 프로필 항목들을 가로로 나열 */
    align-items: center; /* 수직 가운데 정렬 */
}

.active-link {
    color: #FFA832 !important; /* 중요도 높임 */
}