<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer Fragment</title>
</head>
<body>
<footer th:fragment="footer" class="footer">
    <div class="footer-container">

        <hr class="footer-divider">

        <div class="footer-main">
            <div class="footer-top">
                <div class="footer-logo">
                    <img src="/image/logo/logo.png" alt="로고" class="logo-image">
                    <span class="logo-text">ToastIT</span>
                </div>

                <div class="footer-contact">
                    <p class="contact-phone">010-1234-5678</p>
                    <p class="contact-email">y0671955@gmail.com</p>
                </div>
            </div>

            <div class="footer-info">
                <p>(주)술프링부트 | 대표이사 : 신효승 | 인천광역시 서구 완정로 153 (주)술프링부트</p>
                <p>사업자 등록번호 : 123-45-67890 | 통신판매업신고 : 제2023-경기인천-12345호</p>
                <p>제호 : CocktailRecipe | 대표 발행인 : 손여산 | 편집인 : 김영훈 | 청소년보호책임자 : 강신웅 | 인터넷신문등록번호: 서울, 아789645</p>
                <p>등록일 : 2022년 07월 15일 | 발행일 : 2022년 08월 01일</p>
            </div>

            <div class="links">
                <div class="footer-links">
                    <a href="#" class="footer-link">개인정보 처리 방침</a>
                    <a href="#" class="footer-link">운영정책</a>
                    <a href="#" class="footer-link">이용약관</a>
                    <a href="#" class="footer-link">청소년보호정책</a>
                </div>

                <div class="out-link">
                    <a th:href="@{https://github.com/ToastitProject}" target="_blank" rel="noopener noreferrer">
                        <img src="/image/footer/github-mark.svg" alt="깃허브로고" class="git-logo-image">
                    </a>
                    <a th:href="@{https://likelion.net/}" target="_blank" rel="noopener noreferrer">
                        <img src="/image/footer/likelion-brand-symbol-black.png" alt="멋사로고" class="techit-logo-image">
                    </a>
                </div>
            </div>
        </div>

        <hr class="footer-divider">

        <div class="footer-main">
            <div class="footer-copyright">
                <p>Copyright © 2024 non-names</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>