<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/fragment/navbar-fragment.css}" rel="stylesheet">
    <link th:href="@{/css/defaultcocktail/defaultcocktail.css}" rel="stylesheet">

    <script th:src="@{/js/defaultcocktail/list.js}" defer></script>
    <script th:src="@{/js/defaultcocktail/toggle.js}" defer></script>
    <script th:src="@{/js/defaultcocktail/search.js}" defer></script>
    <script th:src="@{/js/defaultcocktail/formVail.js}" defer></script>

    <title>칵테일 목록</title>
</head>
<body>
<!--헤더, fragment 적용중-->
<div th:replace="~{fragment/navbar-fragment :: navbarFragment}"></div>


<!--기본 칵테일 베너-->
<div class="default-banner">
    <img src="/image/cocktail-banner.jpg" alt="Cocktail Banner">
    <h1>세계의 칵테일</h1>
    <p>이런 칵테일은 어떠세요?</p>
</div>

<!--검색 구역-->
<p id="search-guide" style="display: none">검색은 쉼표(,)로 구분합니다. 최소 하나 이상의 검색어를 넣어주세요</p>

<div class="cocktail-buttons">
    <button id="toggleSearch" class="cocktail-button">검색 옵션 토글</button>
    <div id="searchOptions" style="display: none;">
        <form th:action="@{/cocktails/complex}" method="get">
            <input type="text" id="ingredientInput" name="ingredient" placeholder="재료 (예: 보드카, 럼)">
            <input type="text" id="glassInput" name="glass" placeholder="잔 종류 (예: 칵테일 잔)">
            <input type="text" id="categoryInput" name="type" placeholder="타입 (예: 칵테일, 일반 음료)">
            <button id="searchButton" class="cocktail-button" type="submit">검색</button>
        </form>
    </div>
</div>

<!--칵테일 표시-->
<div class="cocktail-grid">
    <div th:each="cocktail : ${cocktails}" class="cocktail-item">
        <a th:href="@{/cocktails/id(id=${cocktail.id})}" class="cocktail-link">
            <img th:src="@{${cocktail.imagePath}}" th:alt="${cocktail.strDrink}" class="cocktail-image">
            <h2 th:text="${cocktail.strDrink}"></h2>
            <p>종류: <span th:text="${cocktail.strAlcoholic}"></span></p>
            <p>카테고리: <span th:text="${cocktail.strCategory}"></span></p>
            <p>잔 종류: <span th:text="${cocktail.strGlass}"></span></p>
        </a>
    </div>
</div>

<!--페이지 구역-->
<div class="pagination">
    <a th:if="${currentPage > 0}" th:href="@{/cocktails/all(page=${currentPage - 1})}">이전</a>
    <span th:text="${currentPage != null ? currentPage + 1 : 1}"></span> / <span th:text="${totalPages}"></span>
    <a th:if="${currentPage < totalPages - 1}" th:href="@{/cocktails/all(page=${currentPage + 1})}">다음</a>
</div>

</body>
</html>