<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href="@{/css/fragment/navbar-fragment.css}" rel="stylesheet">
  <title>술프링부트 - 지도 페이지</title>
<!--  <script th:src="@{https://maps.googleapis.com/maps/api/js?key=${mapsApiKey}}"></script>-->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwmPE4956q5DEBA3hAIGlcltT_9-rrex4"></script>
  <script src="https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyBtUzXIwbxDpYyOWLU08r-Fb-jahI-a53k"></script>
<!--  <script th:src="@{https://maps.googleapis.com/maps/api/geocode/json?key=${geocodingApiKey}}"></script>-->

  <style>
    #map {
      width: 600px;
      height: 400px;
      margin: 0 auto;
    }
  </style>
  <script>

    function initMap() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(successCallback, errorCallback);
      } else {
        alert("이 브라우저는 위치 정보를 지원하지 않습니다.");
      }
    }

    function successCallback(position) {
      const latitude = position.coords.latitude;
      const longitude = position.coords.longitude;

      const mapOptions = {
        center: new google.maps.LatLng(latitude, longitude),
        zoom: 15,
      };
      const map = new google.maps.Map(document.getElementById("map"), mapOptions);

      const marker = new google.maps.Marker({
        position: { lat: latitude, lng: longitude },
        map: map,
        title: "현재 위치"
      });

      // Geocoding API를 사용하여 주소 가져오기
      const geocoder = new google.maps.Geocoder();
      const latlng = { lat: latitude, lng: longitude };

      geocoder.geocode({ location: latlng }, (results, status) => {
        if (status === 'OK') {
          if (results[0]) {
            const address = results[0].formatted_address;
            document.getElementById("location").innerText = `현재 위치: ${address}`;
          } else {
            document.getElementById("location").innerText = "주소를 찾을 수 없습니다.";
          }
        } else {
          document.getElementById("location").innerText = "Geocoder 서비스에 문제가 발생했습니다.";
        }
      });
    }

    function errorCallback(error) {
      console.error("위치 정보를 가져오는 데 실패했습니다: ", error);
      document.getElementById("location").innerText = "위치 정보를 가져오는 데 실패했습니다.";
    }

    window.onload = initMap;
  </script>
</head>


<body>

<header th:replace="fragment/navbar-fragment :: navbarFragment"></header>

<hr class="divider">
<p></p>
<div id="map"></div>
<p></p>
<p></p>
<p id="location" style="text-align: center;"></p>
</body>
</html>
